/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.DS_Store
.ruby-version
tmp/*
lib/raygun/raygun_ext.*
lib/raygun/*/raygun_ext.*
lib/raygun/*.so
*.gem
.vscode/
vendor/
.gdb_history
.idea/
.vagrant/
